*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    background-color: rgb(77, 77, 77);
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid rgb(133, 2, 2) ;

}
header h1{
    padding-bottom: 20px;
}

header div ul li{
    display: inline;
    margin: 20px;

}
header div ul li a{
    color: white;
    text-decoration: none;
    
}
footer{
    color: white;
    background-color: rgb(77, 77, 77);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
main {
    margin: 10px;
    padding: 10px;
    
}



main div table{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: rgba(63, 42, 42, 0.103);
    
}

img{
    width: 50%;
    padding: 5px;
    border-radius: 10px;

}



aside div h2{
    padding: 10px;
}
main h2{
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
aside{
    margin: 100px;
    padding: 20px;
    left: 0;
    
}
aside div table tr td img{
    margin: 0;
    padding: 0;
    width: 90%;


}
aside div table{
    margin: 0;
    
}
